<!DOCTYPE html>
<html>
<title>Agrismart | Home</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <style>
        html,
        body {
            height: 100%;
        }

        .full-height {
            height: 100%;
        }

        .w3-allerta {
            font-family: "Allerta Stencil";
        }

        a:link.log,
        a:visited.log {
            background-color: #f44336;
            color: white;
            padding: 12px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover.log,
        a:active.log {
            background-color: red;
        }
    </style>
</head>

<body>
    <div class="w3-container w3-theme-l1 full-height">
        <div class="w3-black w3-center w3-allerta">
            <h1>AGRISMART</h1>
        </div>
        <br>
        <% if(auth){ %>
        <h4>Seleziona il campo</h4>
        <ul class="w3-ul w3-hoverable">
            <% for(var i in campi) { %>
            <li class="w3-display-container">
                <a class="log w3-green"
                    href="http://localhost:<%= port%>/dashboard/<%= campi[i][0] %>"><%= campi[i][1]%>
                </a>
                <span class="w3-button w3-display-right" title="Elimina campo">
                    <a href="http://localhost:<%= port %>/dashboard/delete/campo/<%= campi[i][0] %>">
                        &times;
                    </a>
                </span>
            </li>
            <% } %>
        </ul>
        <br>
        <button class="w3-button w3-xlarge w3-circle w3-red w3-card-4 w3-right"
            onclick="window.location.replace('http://localhost:<%= port%>/coordConfig');"
            title="aggiungi campo">+</button>
        <br>
        <div class="w3-container w3-center">
            <a class="log w3-center" href="/logout">Logout</a>
            <br>
            <button class="w3-btn w3-gray w3-right" onclick="confirm_delete()">Cancella account</button>
        </div>
        <% } else{ %>
        <div class="w3-container w3-center">
            <a class="log" href="/auth/google/callback">Login</a>
        </div>
        <% } %>
    </div>

    <script>
        function confirm_delete(){
            var ans = confirm("Sicuro di voler cancellare l'account");
            if( ans == true ){
                location.replace("https://www.google.com");
            }
        }
    </script>
</body>

</html>